<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mission0</key>
	<dict>
		<key>password</key>
		<string>admin</string>
		<key>username</key>
		<string>admin</string>
		<key>port</key>
		<string>8080</string>
		<key>ip</key>
		<string>192.168.1.1</string>
		<key>mail</key>
		<string>Hello,

I have high expectations of you, your computer skills are much higher than
Normal, so I guess you can get at least 2 levels.

Your first goal is to get a flag. I know
You can find it on a computer. You need to enter
Invasion of the system can obtain it.

Here are some of the data you need for this task:
His IP address: 192.168.1.1
Open port : 8080
Username : admin
Password : admin

First Ping his IP address to see if he is online.
Then use his IP and port to remotely log into his computer.
Steal to file and leave quickly!

Good luck. If you succeed, I will send you an email again.</string>
		<key>name</key>
		<string>Anonymous</string>
		<key>title</key>
		<string>First Mission</string>
	</dict>
	<key>mission1</key>
	<dict>
		<key>password</key>
		<string>admin</string>
		<key>username</key>
		<string>admin</string>
		<key>port</key>
		<string>8080</string>
		<key>ip</key>
		<string>192.168.1.1</string>
		<key>mail</key>
		<string>Congratulation!</string>
		<key>name</key>
		<string>Anonymous</string>
		<key>title</key>
		<string>Second</string>
	</dict>
</dict>
</plist>
