<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mission0</key>
	<dict>
		<key>password</key>
		<string>admin</string>
		<key>username</key>
		<string>admin</string>
		<key>port</key>
		<string>8080</string>
		<key>ip</key>
		<string>192.168.1.1</string>
		<key>mail</key>
		<string>您好,

我对你寄予很高的期望, 您的计算机技能远高于
正常, 所以我猜你至少可以过2关.

您的第一个目标是获得一个端口扫描工具。我知
道一台计算机上可以找到这样的工具。您需要入
侵该系统才能获得这一工具。 

工具的文件名是: PortScannerW32.exe
它应该在一个名叫Tools的文件夹中。

以下是这项任务中你所需要的一些数据:
他的IP地址:192.168.1.1 
开放端口   : 8080
用户名      : admin
密   码      : admin

首先Ping他的IP地址看看他是否在线。
然后用他的IP和端口远程登陆到他的电脑，
窃取到文件后迅速离开！

!! 注意 !!
不要忘记删除TelnetLogs文件夹中的日志文件。
你应该删除的是: 176.158.255.1

祝您好运。如果你成功了，我将再次向您发送电子邮件。</string>
		<key>name</key>
		<string>Anonymous</string>
		<key>title</key>
		<string>First Mission</string>
	</dict>
	<key>mission1</key>
	<dict>
		<key>password</key>
		<string>admin</string>
		<key>username</key>
		<string>admin</string>
		<key>port</key>
		<string>8080</string>
		<key>ip</key>
		<string>192.168.1.1</string>
		<key>mail</key>
		<string>It is a mail test1</string>
		<key>name</key>
		<string>John</string>
		<key>title</key>
		<string>mission1 title</string>
	</dict>
</dict>
</plist>
