<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Grey Net Single.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D86E22421FFC855D009EA637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D86E225A1FFC855D009EA637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D86E22651FFC855D009EA637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
